
body{
    background-color: black;
}
.sdiv{
    
    text-align: center;
    border-style: inset;
    border-color: rgb(232, 225, 225);
    border-width: 5px;
    margin-left: 25px;
    margin-right: 25px;
    
   
}
#main{
    
    background-color:rgb(189, 188, 175);
    width: 700px;
    padding: 20px;
    
}

#button{
    padding-top:50px;
}
#len{
    width: 270px;
}
#add{
    width: 400px;
}
td{
    padding-left: 10px;
    padding-bottom: 10PX;
    
}
.shift{
    padding-left: 25px;
}